		.table{
			font-size: 15px;
			border-collapse: collapse;
			width: 100%;
		}
		.table td, .table th {
			border: 1px solid gray;
			padding: 15px;
		}
		.table tr:nth-child(odd){
			background-color: lightsalmon;
		}
		.table tr:nth-child(even){
			background-color: lightcyan;
		}
		.table tr:hover {
			background-color: yellow;
		}
		.table th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: black;
			color: white;
	}
		.header{
			background-color: white ;
			margin-top: 5px ;
			height: 80px;
			border: 4px solid black;
		}
		
		.btn1{
			text-decoration: none;
			background-color: green ;
			color: black;
			padding: 5px;
			border-radius: 4px;
			cursor: pointer ;
		}
		.btn2{
			margin-left: 6px;
			text-decoration: none;
			background-color: red ;
			color: white;
			padding: 5px;
			border-radius: 4px;
		}
		.modal-body{
			background-color: lightblue;
			padding: 20px ;
		}
		.submit{
			margin-top: 10px;
			width: 102%;
			height: 30px;
			background-color: green ;
			color: white ;
			border-radius: 5px;
		}