.title{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border: 2px 2px 2px black;
}
header{
    display: flex;
    border: 10px solid black;
}
img{
    height: 5%;
    width: 5%;
    padding: 10px;
}
.container{
    width: 100%;
    height: 600px;
    background: cyan;
    /* border: 5px solid black; */
    display: flex;
}
.link1{
    width: 20%;
    padding: 25px;
    border: 1px solid black;
    
    
}
.link2{
    background: goldenrod;
    padding: 50px;
    
    
}
.container a{
    text-decoration: none;
    display: block;

}