.title{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border: 2px 2px 2px black;
}
header{
    display: flex;
    border: 10px solid black;
}
img{
    height: 5%;
    width: 5%;
    padding: 10px;
}
.container{
    width: 100%;
    height: 600px;
    
    /* border: 5px solid black; */
    display: flex;
}
.link1{
    width: 20%;
    padding: 25px;
    border: 1px solid black;
    
    
}
.link2{
    padding-top: 550px;
    padding-left: 20px;
    padding: 10px;
    text-align: left;
    background: cyan;
    width: 100%;
    
    
}
.container a{
    text-decoration: none;
    display: block;

}
.filed{
    padding-left: 0px;
    padding-top: 20px;
}
button{
    margin-left: 180px;
    background: pink;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}
input{
    width: 300px;
}
textarea{
    margin-left: 45px;
}