.heading {
    border: 5px outset black;
    background-color: #E6FBEC;
    text-align: center;
    padding: 15px;
  }
  .menu_head{
  display: flex;
  }
  .menu {
    border-top: 0px;
    border-right: 5px outset black;
    border-bottom: 5px outset black;
    border-left: 5px outset black;
    text-align: left;
    padding-left: 20px;
    float: left;
    width: 30%;
    color: red;
    height: 700px;
  }
  /*.head2{
    background-color: white;
    text-align: left;
    width: 70%;
    padding-left: 50px;
    height: 505px;
  }*/
  .head2{
    padding: 20px;
    width: 100%;
  }
  .above-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img-part{
    text-align: center;
  }

  .inbox{
    height: 50px;
    width: 100px;
    background-color: gray;
  }
  
  .col_1{
    width:  50%;
    background-color: #EaE;
  }
  .card_1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height:  120px;
    background-color: lightgray;
    border-radius: 5px;
  }
  .card_2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 120px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 5px;
    
  }
  
  .alert {
    padding: 20px;
    background-color: blue;
    color: white;
  }