
.container1 {
    width: 31%;
    margin:0 auto;
}
div {
    border-radius: 5px;
    color: #281212;
    background-color: lightblue;
    padding:2px;
}
input[type=text],
select {
    background-color: hsl(0deg 4% 77%);
    width: 100%;
    padding: 11px 21px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(24, 23, 23);
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
   
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(24, 23, 23);
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background-color: hsl(0deg 4% 77%);
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(24, 23, 23);
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background-color: hsl(0deg 4% 77%);
}

input[type=radio] {

    color:black;
    background-color: hsl(0deg 4% 77%);
}

input[type=submit] {
    width: 100%;
    background-color: rgb(232, 89, 23);
    color: white;
    padding: 13px 21px;
    margin: 9px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    width: 100%;
    background-color: rgb(30, 179, 0);
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}