#nav {
    height: 100px;
    background-color: #ccf2ff;
    border: 3px solid black;
}

#img1,
#title,
h1 {
    display: inline;
}

#title {
    position: relative;
    left: 350px;
}

#img1 {
    position: relative;
    left: 50px;
    top: 20px;
}

#sidebar,
#bodypart {
    height: 700px;
    width: 250px;
    background-color: #ffffff;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    bottom: 214px;
}

#list,
.listitem,
.menured {
    list-style: none;
}

.menured {
    color: red;
    text-decoration: none;
}

#mediv {
    height: 400px;
    width: 40%;
    display: inline;
}

#bodypart {
    position: relative;
    top: 20px;
    width: 78.5%;
    border: none;
    height: 250px;
    display: inline-block;
}

.chatbox {

    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 0.6);
    height: 375px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#chathead {
    color: white;
    background-color: black;
    padding: 15px;
}





.imgleft ,.imgrigt {
    border-radius: 50%;
    position: relative;
    left: 15px;
}
.imgrigt{
    left: 510px;
}
.lfttriangele , .rhtttriangele{
    display: inline-block;
    height: 50px;
    width: 33px;
    left: 20px;
    position: relative;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    border-top: 20px solid #1b77ba;
    top: 50px;
    left: 20px;
}
.rhtttriangele{
    border-top: 20px solid #ff8b3b;
    left: 833px;

}
.leftmsg {
    height: 50px;

}

.lftmsgbox, .rhtmsgbox {
    display: inline-block;
    background-color: #1b77ba;
    height: 50px;
    width: 33%;
    right: 40px;
    bottom: 19px;
    position: relative;
    border-radius: 50px;
}
.rhtmsgbox{
    background-color: #ff8b3b;
    left: 490px;


}

.leftname,
.lftmsg {
    top: 7px;
    position: relative;
    left: 20px;
    color: white;
    font-size: 15px;
}

.leftname {
    font-weight: bold;

}

#inputbar{

    background-color: #ecefee;
    width: 980px;
}
#inputt{
    width: 88%;
    background-color: #ecefee;

}
