.title{
    text-align: center;
    width: 100%;
    padding-right: 150px;
    /* margin-top: 20px; */
    border: 1px 1px black;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    background-color: #E4F8E9;
}
img{
    height:100%;
    width: 15%;
    padding: 30px;
}
.menu{
    color: red;
    font-weight: 1000;
    line-height: 55px;
    font-size: larger;
}

.menu1{
    color: red;
    font-weight: 1000;
    line-height: 55px;
    font-size: larger;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 190px;
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
.grid-container > div {
    background-color: #EBEFF2;
    text-align: center;
    padding: 20px;
    padding-right: 0;
    font-size: 30px;
  }
  .item1 {
    grid-column: 1 / 3;
  }
.container{
    width: 100%;
    height: 1100px;
    background: #FFFFFF;
    /* border: 5px solid black; */
    display: flex;
}

a{
    text-decoration: none;
}

.container2{
    width: 100%;
    
}

.chatbox{
    width: 100%;
    background-color: #BEBEBE;
    border: 2px 2px 2px blueviolet;
}
.link1{
    width: 20%;
    padding: 25px;
    border: 1px solid black;
    
    
}
.link3{
    width: 20%;
    padding: 25px;
    border: 1px solid black;
    display: inline;
    
    
}
.link2{
    width: 95%;
    padding: 50px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.container a{
    text-decoration: none;
    display: block;

}
nav{
    /* display: block; */
    width: 100%;
    background-color: #BEBEBE;
    border: 1px 1px 1px solid gray;
}
nav{
padding: 10px;
margin-left: 30px;
}
ul{
    display: flex;
    justify-content: flex-start;
    
    
}
ul li{
    list-style: none;
}
