@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh;
  margin: 0;
}

.container {
  /* background-color: #fff; */
  background-color: goldenrod;
  border-radius: 5px;
  box-shadow: 0 2px 10 px rgba(0, 0, 0, 0.3);
  width: 450px;
}

.form-control {
  margin-bottom: 5px;
  padding-bottom: 15px;
  position: relative;
}

.form-control label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

