body{
    padding-top: 50px;
    margin-left: 200px;
    
}

.alert {
    padding: 5px;
    color:blueviolet;
    margin-bottom: 10px;
    height: 40px;
    width: 380px;
  }

.name{
    width: 380px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.address{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

div:nth-child(odd) {
    color:aquamarine;
    font-weight:bold;
  }
  
div:nth-child(even) {
    color:chartreuse;
    font-weight: bold;
}